{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [ ">1%", "not op_mini", "not ie", "not dead"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}
